source ~/vim/.sharedvimrc

""" Idea specific settings
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep

""" Mappings -------------------
map <leader>d <Action>(Debug)
map <leader>r <Action>(RenameElement)
map <leader>c <Action>(Stop)
map <leader>z <Action>(ToggleDistractionFreeMode)

map gd <Action>(GotoDeclaration)
map gi <Action>(GotoImplementation)
map gh <Action>(ShowErrorDescription)
map gp <Action>(QuickImplementations)

map <leader>s <Action>(SelectInProjectView)
map <leader>a <Action>(Annotate)
map <leader>h <Action>(Vcs.ShowTabbedFileHistory)
map <leader>q <Action>(HideActiveWindow)
map <S-Space> <Action>(GotoNextError)

map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>o <Action>(FileStructurePopup)

map <A-j> <Action>(MoveStatementDown)
map <A-k> <Action>(MoveStatementUp)
